{
  "target_configuration": {
    "touchgfx_path": "../Middlewares/ST/touchgfx",
    "family": "STM32U5",
    "sub_family": "STM32U599/5A9",
    "toolchain": "STM32CubeIDE",
    "platform": "m33",
    "project_file": "../Riverdi_50STM32U5A9.ioc",
    "optional_components_root": "../Middlewares/ST/touchgfx_components",
    "optional_components": [
      "GPU2D"
    ],
    "additional_features": []
  }
}